<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308573873242-1e5v45c1kd5oqbebpn3ife4qvk9fmqu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308573873242-1e5v45c1kd5oqbebpn3ife4qvk9fmqu8</string>
	<key>API_KEY</key>
	<string>AIzaSyDj6BAl8sppPUvdnaAQ1ED4AHwtW8BG298</string>
	<key>GCM_SENDER_ID</key>
	<string>308573873242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imageGallary</string>
	<key>PROJECT_ID</key>
	<string>image-gallery-app-46174</string>
	<key>STORAGE_BUCKET</key>
	<string>image-gallery-app-46174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308573873242:ios:2144302e74a4dac8f86463</string>
</dict>
</plist>